## Common

DB_CONN_STR="postgres://user:pwd@localhost:5444/mychain_indexer?sslmode=disable"

# --- optional ---
DB_MAX_OPEN_CONN=30
DB_MAX_IDLE_CONN=30
DB_MAX_IDLE_TIME="15m"

## API

HTTP_PORT=8080

## Indexer

L1_RPC_URL=
L1_CHAIN_ID=
L1_CHAIN_NAME=
L2_RPC_URL=
L2_CHAIN_ID=
L2_CHAIN_NAME=
SYSTEM_CONFIG_ADDR=

# --- optional ---
L1_UNSTABLE_BLOCKS_DEPTH=24
L2_UNSTABLE_BLOCKS_DEPTH=20
