[Unit]
Description=OP Sepolia Withdrawals Indexer API Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=30s
StartLimitIntervalSec=300
StartLimitBurst=5

WorkingDirectory=/home/d_bharti/op-sepolia-bridge/backend
EnvironmentFile=/home/d_bharti/op-sepolia-bridge/backend/.env
ExecStart=/home/d_bharti/op-sepolia-bridge/backend/bin/api

TimeoutStopSec=120s

[Install]
WantedBy=multi-user.target
